body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  used by timesheet.tsx
  this shoud be moved to to the component (style-component or css module)
*/

.timesheet-entry-enter {
  opacity: 0;
}
.timesheet-entry-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.timesheet-entry-exit {
  opacity: 1;
}
.timesheet-entry-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
